.tooltip {
	position: relative;
	cursor: pointer;
	.tooltip-box {
		display: none;
		position: absolute;
		background:#1d1d1d;
		color:#fff;
		font-size: 0.75rem;
		top:100%;
		left:0;
		width:260px;
		padding: 14px;
		line-height: 140%;
		text-decoration: none;
		z-index: 1001;
		a {
			color:#fff;
		}
	}
	&:hover {
		.tooltip-box {
			display: block;
		}
	}
}