html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  width: 100%;
}